.stock-card {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	padding: 14px;
	width: 650px;
	.stock-info {
		display: flex;
		justify-content: space-between;

		.symbol {
			font-size: 24px;
			font-weight: bold;
		}

		.price {
			font-size: 24px;
			font-weight: bold;
		}

		.name {
			font-size: 18px;
			font-weight: bold;
		}
	}

	.divider {
		border: 1px solid rgb(57, 55, 55);
		margin: 10px 0;
	}
	.stock-action {
		.action {
			select {
				margin: 10px 110px;
				outline: none;
				padding: 10px;
				width: 60%;
			}
		}
		.quantity {
			input {
				margin: 10px 110px;
				outline: none;
				padding: 10px;
				width: 60%;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
			}
		}
		.sell-price {
			input {
				margin: 10px 110px;
				outline: none;
				padding: 10px;
				width: 60%;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
			}
		}
	}

	button {
		border: none;
		color: white;
		padding: 8px;
		cursor: pointer;
		width: 80%;
		margin: 10px 60px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		background: linear-gradient(to bottom, #615fea, #303164);
		border: 1px solid #ccc;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
	}
}
